@import './styles/breakpoints';
@import './styles/geometry';


html {
  color: #fff; // temp!
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  display: grid;
  grid-template-columns: 
    [fullbleed-start] minmax($base-indent, 1fr) // change 0 to some var!!!
    [leftbar-start] repeat(2, $layout-pref-col-width)
    [leftbar-end data-start] repeat(12, $layout-pref-col-width)
    [data-end rightbar-start] $layout-pref-col-width
    [rightbar-end] minmax($base-indent, 1fr) [fullbleed-end]; // change 0 to some var!!!
  grid-template-rows: repeat(2, min-content) 1fr min-content;  
  margin-block: 0;
  margin-inline: 0;
  min-height: 100lvh;

  @media (max-width: $tablet) {
    grid-template-columns: 
      [fullbleed-start] 0
      [data-start] repeat(12, $layout-pref-col-width)
      [data-end rightbar-start] $layout-pref-col-width
      [rightbar-end] 0 [fullbleed-end]; // don't forget think about this!
  }

  @media (max-width: $mobile) {
    grid-template-columns: 
      [fullbleed-start] $base-indent
      [data-start] repeat(12, $layout-pref-col-width)
      [data-end] $base-indent [fullbleed-end];
  }
}

header, main, footer {
  display: grid;
  grid-column: fullbleed;
  grid-template-columns: subgrid;
  place-content: center; // temp!
}

header {
  background-color: orange; // temp!
  grid-row: 2;
}

main {
  background-color: green; // temp!
  grid-row: 3;
}

footer {
  background-color: blue; // temp!
  grid-row: 4;
}

nav, aside {
  align-items:  center; // temp!
  display: flex; // temp!
  grid-row: 2 / span 3;
  justify-content: center; // temp!
}

nav {
  background-color: #000; // temp!
  grid-column: leftbar;
  height: 100%;

  @media (max-width: $tablet) {
    grid-column: fullbleed;
    grid-row: 1;
  }
}

aside {
  background-color: red; // temp!
  grid-column: rightbar;
  writing-mode: vertical-lr; // temp!

  @media (max-width: $mobile) {
    display: none;
  }
}
