:root {
  --base-clr: #fff;
  --base-clr-inv: #000;

  @media(prefers-color-scheme: dark) {
    --base-clr: #000;
    --base-clr-inv: #fff;

    /* :has(input[name='color-theme-toggle-input']:not(:checked)) {
      --base-clr: #fff;
      --base-clr-inv: #000;
    } */
  }

  @media(prefers-color-scheme: light) {
    

    /* :has(input[name='color-theme-toggle-input']:checked) {
      --base-clr: #000;
      --base-clr-inv: #fff;
    } */
  }
}

body {
  background-color: var(--base-clr);
  color: var(--base-clr-inv);
  transition: background-color, color, .2s;
}
