:root {
  color-scheme: light dark;

  --base-dark-clr: #000;
  --base-light-clr: #fff;
  
  --base-clr: light-dark(var(--base-light-clr), var(--base-dark-clr));
  --base-clr-inv: light-dark(var(--base-dark-clr), var(--base-light-clr));
}

body {
  background-color: var(--base-clr);
  color: var(--base-clr-inv);
  transition: background-color, color, .2s;
}

body:has(input[name='theme-toggle']:checked) {
  color-scheme: dark;
}

body:has(input[name='theme-toggle']:not(:checked)) {
  color-scheme: light;
}