:root {
  color-scheme: light dark;
  
  --base-clr: light-dark(#fff, #000);
  --base-clr-inv: light-dark(#000, #fff);
}

body {
  background-color: var(--base-clr);
  color: var(--base-clr-inv);
  transition: background-color, color, .2s;
}

body:has(input[name='color-theme-toggle']:checked) {
  color-scheme: dark;
}

body:has(input[name='color-theme-toggle']:not(:checked)) {
  color-scheme: light;
}